<div id="<%= dom_id board %>">
  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Owners email:</strong>
    <%= board.owners_email %>
  </p>

  <p>
    <strong>Width:</strong>
    <%= board.width %>
  </p>

  <p>
    <strong>Height:</strong>
    <%= board.height %>
  </p>

  <p>
    <strong>Mines:</strong>
    <%= board.mines %>
  </p>

  <p>
    <strong>Minesweeper board:</strong>
    <%= board.minesweeper_board %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= board.created_at %>
  </p>

</div>
