<%= form_with(model: board, local: true, html: { class: 'needs-validation', novalidate: true }) do |form| %>
  <% if board.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h4>
      <ul>
        <% board.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :owners_email, class: 'form-label' %>
    <%= form.text_field :owners_email, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :width, class: 'form-label' %>
    <%= form.number_field :width, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :height, class: 'form-label' %>
    <%= form.number_field :height, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.label :mines, class: 'form-label' %>
    <%= form.number_field :mines, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Save Board', class: 'btn btn-primary' %>
  </div>
<% end %>
