<h1 class="mb-4">List of Boards</h1>

<%= link_to "Back to home page", root_path, class: "btn btn-secondary mb-3" %>

<div id="boards">
  <div class="mb-3">
    <%= form_tag(boards_path, method: :get, class: "form-inline") do %>
      <div class="d-flex align-items-center">
        <%= text_field_tag(:search, params[:search], class: "form-control", style: "width: 300px; margin-right: 8px;", placeholder: "Search by Name") %>
        <%= submit_tag("Search", class: "btn btn-primary") %>
      </div>
    <% end %>
  </div>

  <table class="table table-hover table-striped">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @boards.each_with_index do |board, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= link_to board.name, board, class: "text-primary" %></td>
          <td><%= board.owners_email %></td>
          <td><%= board.created_at.strftime("%d %b, %Y %H:%M") %></td>
          <td>
            <%= link_to "Show", board, class: "btn btn-sm btn-primary" %> |
            <%= link_to "Edit", edit_board_path(board), class: "btn btn-sm btn-warning" %> |
            <%= link_to "Delete", board, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div>
    <div>
      <%= page_entries_info @posts %>
    </div>
    <%= will_paginate @posts, :container => false %>
  </div>
</div>
